* {
	box-sizing: border-box;
}

body {
	background-color: yellow;
	display: flex;
	font-family: 'Open Sans Condensed', sans-serif;
}

header {
	display: flex;
	margin: 10px;
	align-items: center;
}

.headerimage1 {
	height: 50%;
	width: auto;
}

.playerButton {
	width: 90%;
	height: auto;
}

.playertwoButton {
	width: 90%;
	height: auto;
}

.player-buttons-container {
	display: grid;
	grid-template-columns: 25% 25% 50%;
}

.start-stop-container {
	display: grid;
	grid-template-columns: 50% 50%;
}

.playerdice1,
.playerdice2,
.playertwodice1,
.playertwodice2 {
	width: 50%;
	height: auto;
}

h1 {
	background: red;
	text-align: center;
	font-size: 25px;
	margin: 5px;
	padding: 10px;
}

h2 {
	font-size: 18px;
}

strong {
	padding: 2px;
	margin: 0 4px 0 0;
}

.gamegrid {
	height: auto;
	width: 100%;
	display: flex;
	flex-wrap: wrap-reverse;
}

.box {
	width: 158px;
	height: 158px;
	border: 1px solid black;
}

.playerOne {
	background-color: red;
	transition-property: background;
	transition-duration: 0.9s;
	transition-timing-function: linear;
	transition-delay: 0.5s;
}

.playerTwo {
	background-color: green;
	transition-property: background;
	transition-duration: 0.9s;
	transition-timing-function: linear;
	transition-delay: 0.5s;
}

.playerTwo.playerOne {
	background: linear-gradient(red, green);
}

.laddertop1,
.ladderbottom1 {
	background-image: url(../Images/ladder-1.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.ladderbottom2,
.laddertop2 {
	background-image: url(../Images/ladder-2.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.snakehead1,
.snaketail1 {
	background-image: url(../Images/snake-1.jpg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.snakehead2,
.snaketail2 {
	background-image: url(../Images/snake-2.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}
.reset {
	width: 30%;
	height: auto;
	color: palegreen;
	border: 2px solid palegreen;
	margin: 10px;
}
